# Secrets

.env

# Python
__pycache__/
*.py[cod]
myvenv/

# Logs
logs/
*.log

# Data (since raw data can be very large)
data/raw/

# dbt 
target/
dbt_packages/

# Ignore Dagster temporary files
.tmp_dagster_home*
dagster_home/
storage/
*.db-shm
*.db-wal